
* {
    background-color:grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.title{
    font-size: 3rem;
    color:lightgrey;
}

body{
    padding: 30px;
}

input{
    color:aliceblue;
    font-size: 1.3rem;
    width: 100%;
}

.card-grid{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p{
    color:azure;
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 120px;
}